black>=22.3.0
flake8>=4.0.1
mypy>=0.961
mypy-protobuf>=3.2.0
types-requests>=2.28.0
types-orjson>=3.6.2
types-PyYAML>=6.0.9
types-protobuf>=3.19.22
types-python-dateutil>=2.8.18
pytest>=7.1.2
pytest-cov>=3.0.0
coverage>=6.4.1
isort[requirements_deprecated_finder,pipfile_deprecated_finder]>=5.10.1
