# submodules
recc-cache>=2.1.0
recc-storage>=2.1.0
recc-database>=2.1.0

# extra submodules
type-serialize>=1.2.1
generalize-config>=1.3.0
mime-parser>=1.2.0

# serialize
msgpack>=1.0.4
orjson>=3.7.5
pyyaml>=6.0

# science
numpy>=1.23.3
shapely>=1.8.2

# security
pycryptodome>=3.15.0
pyjwt>=2.5.0

# asyncio
uvloop>=0.17.0
aiohttp[speedups]>=3.8.3
aiohttp_cors>=0.7.0

# utilities
coloredlogs>=15.0.1
overrides>=7.1.0
