[Unit]
Description=The ANSWER, No-code development platform
After=local-fs.target docker.service

[Service]
Restart=always
Environment=RECC_VERBOSE=0
Environment=RECC_DEVELOPER=false
Environment=RECC_LOG_LEVEL=INFO
Environment=RECC_LOCAL_STORAGE=/usr/local/recc/storage
WorkingDirectory=/usr/local/recc/working
ExecStart=/usr/local/recc/python/bin/python3.9 -OO -m recc core
TimeoutSec=300

[Install]
WantedBy=multi-user.target
