[Unit]
Description=The ANSWER, No-code development platform
Requires=network.target local-fs.target docker.service docker.socket
After=network.target local-fs.target docker.service docker.socket

[Service]
Environment=PYTHONPATH=/usr/local/recc/home
Environment=RECC_VERBOSE=0
Environment=RECC_DEVELOPER=false
Environment=RECC_LOG_LEVEL=INFO
Environment=RECC_CONFIG=/usr/local/recc/home/config.yml
Environment=RECC_LOCAL_STORAGE=/usr/local/recc/home/storage
WorkingDirectory=/usr/local/recc/home
ExecStart=/usr/local/recc/python/bin/python3.8 -OO -m recc core
LogNamespace=recc

[Install]
WantedBy=multi-user.target
